
  <div class="movie-poster">
    <img src = {{poster}}>
  </div>
  <div class="movie-title">Title: {{movie_title}}
  </div>
  <p class="movie-descrip">Plot: {{description}}
  </p>
  <p class="movie-actors">Artist: {{actors}}
  </p>
  <span class="movie-genre">Genre: {{genre}}
  </span>
  <span class="movie-year">Released: {{year}}
  </span>
