<div class="row">
  <div class="movie-poster col-4">
    <img src={{poster}}>
  </div>
  <div class="col-6">
    <div class="movie-info">
      <h5>Title: {{movie_title}} || {{year}}</h3> 
      <p>Genre: {{genre}}</p>
    </div>
    <p class="movie-descrip">Plot: {{description}}</p>
    <p class="movie-actors">Artist: {{actors}}</p>
  </div>
</div>