<div class="row">
  <div class="movie-poster col-4">
    <img src={{poster}}>
  </div>
  <div class="col-6">
    <div class="movie-info">
      <h5>Title: {{movie_title}} || {{year}}</h3> 
      <p><span class="movie-span">Genre:</span> {{genre}}</p>
    </div>
    <p class="movie-descrip"><span class="movie-span">Plot:</span> {{description}}</p>
    <p class="movie-actors"><span class="movie-span">Artist:</span> {{actors}}</p>
  </div>
</div>